[
    {
        "name": "r351574nc3",
        "wif": "5J1hkjChYiE548r33BPYv7FiUwUspA4LYwcydMgQzSEtFcHDEP9",
        "weight": 100
    },
    {
        "name": "salty-mcgriddles",
        "wif": "5J2hP4vxxCuCZ5yqkEjwR2zwyGzeonR8TN2cyFNBpddUDjrmYGv",
        "weight": 100
    }
]